*{
  margin:0;
  padding:0;
}
html{
  width:100vw;
  height:100vh;
  font-size: 62.5%;
}
body,#root {
  width:100%;
  height:100%;
  font-family: 'Days One',sans-serif;
  padding:2rem;
  box-sizing: border-box;
}
#root {
  background: -moz-linear-gradient(top,#b2b2b2, #909090); /* FF3.6-15 */
  background: -webkit-linear-gradient(top #b2b2b2, #909090); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b2b2b2,#909090); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}